.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Spatial-Simulation.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json
model/utils/__pycache__/__init__.cpython-310.pyc
model/utils/__pycache__/distributions.cpython-310.pyc
model/utils/__pycache__/vectors.cpython-310.pyc
model/world/__pycache__/Population.cpython-310.pyc
model/world/__pycache__/World.cpython-310.pyc
model/utils/__pycache__/__init__.cpython-310.pyc
model/utils/__pycache__/distributions.cpython-310.pyc
model/world/__pycache__/Population.cpython-310.pyc
model/world/__pycache__/World.cpython-310.pyc
